# Asset management assignement

**Question 1** : 
For this exercise use the file ”Tickers”, which specifies the tickers of the 50 stocks you should use
given your group number. Retrieve monthly Book-to-Market data and monthly prices for your
stocks from 1980. Present annualized performance statistics (average return, volatility, Sharpe
ratio, skewness, kurtosis and max drawdown) for your stocks

In [58]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [59]:
data_set_bme = pd.read_csv("data-bme.csv")
data_set_prc = pd.read_csv("data-prc.csv")

In [60]:
data_set_bme.head()

   permno       adate       qdate public_date     bm TICKER
0   10138  1985-12-31  1986-03-31  1986-06-30  0.110    NaN
1   10138  1985-12-31  1986-03-31  1986-07-31  0.121    NaN
2   10138  1985-12-31  1986-06-30  1986-08-31  0.137   TROW
3   10138  1985-12-31  1986-06-30  1986-09-30  0.137   TROW
4   10138  1985-12-31  1986-06-30  1986-10-31  0.137   TROW

In [61]:
data_set_prc.head()

   PERMNO        date TICKER    PRC
0   10138  1986-03-31    NaN    NaN
1   10138  1986-04-30   TROW  38.50
2   10138  1986-05-30   TROW  37.25
3   10138  1986-06-30   TROW  34.75
4   10138  1986-07-31   TROW  31.75

In [62]:
data_set_bme = data_set_bme.rename(columns={'public_date': 'date'})

In [63]:
data_set_prc = data_set_prc.rename(columns={'PERMNO': 'permno'})

In [64]:
merged_df = pd.merge(data_set_bme, data_set_prc, on=['date', 'permno', 'TICKER'])
merged_df

       permno       adate       qdate        date     bm TICKER     PRC
0       10138  1985-12-31  1986-06-30  1986-09-30  0.137   TROW   28.75
1       10138  1985-12-31  1986-06-30  1986-10-31  0.137   TROW   35.00
2       10138  1985-12-31  1986-09-30  1986-12-31  0.187   TROW   30.50
3       10138  1986-12-31  1986-12-31  1987-03-31  0.192   TROW   44.00
4       10138  1986-12-31  1986-12-31  1987-04-30  0.192   TROW   41.25
...       ...         ...         ...         ...    ...    ...     ...
13786   93429  2021-12-31  2022-03-31  2022-06-30  0.323   CBOE  113.19
13787   93429  2021-12-31  2022-06-30  2022-08-31  0.293   CBOE  117.97
13788   93429  2021-12-31  2022-06-30  2022-09-30  0.293   CBOE  117.37
13789   93429  2021-12-31  2022-06-30  2022-10-31  0.293   CBOE  124.50
13790   93429  2021-12-31  2022-09-30  2022-11-30  0.284   CBOE  126.84

[13791 rows x 7 columns]

In [68]:
new_df = merged_df[['permno','TICKER','date', 'PRC','bm']]
df = new_df.rename(columns={'TICKER': 'Ticker', 'permno': 'Permno', 'date': 'Date', 'PRC': 'Prc', 'bm': 'Bme'})
df

       Permno Ticker        Date     Prc    Bme
0       10138   TROW  1986-09-30   28.75  0.137
1       10138   TROW  1986-10-31   35.00  0.137
2       10138   TROW  1986-12-31   30.50  0.187
3       10138   TROW  1987-03-31   44.00  0.192
4       10138   TROW  1987-04-30   41.25  0.192
...       ...    ...         ...     ...    ...
13786   93429   CBOE  2022-06-30  113.19  0.323
13787   93429   CBOE  2022-08-31  117.97  0.293
13788   93429   CBOE  2022-09-30  117.37  0.293
13789   93429   CBOE  2022-10-31  124.50  0.293
13790   93429   CBOE  2022-11-30  126.84  0.284

[13791 rows x 5 columns]

**Question 2** : For each stock and each date, build a Momentum indicator which is defined as the cumulated
return over the past six months (note that, by construction, during the first six months of
the sample it will not be possible to build such momentum indicator). Use the characteristics
Book-to-Market and Momentum to build tercile portfolios, called: V alue high, V alue med and
V alue low for Value (book-to-market); and MoM high, MoM med and MoM low for Momentum. To construct the six portfolios, at each date and for each one of the two characteristic, split
your 50 stocks in three equally weighted groups of similar sizes (example: for momentum in Jan
2000 you may have 16 stocks in the low Momentum group, 15 in the Middle group, 15 in the
high Momentum group and 4 stocks with missing observations at this date). Present annualized
performance statistics for the 6 portfolios.

**Question 3** : Build two long-short portfolios for Value and Momentum using the tercile portfolios. Backtest
the portfolio and an equal weighed portfolio investing in the 50 stocks. Plot cumulated returns
and present annualized performance statistics

**Question 4** :  Naturally, neither Value nor Momentum is the perfect predictor of returns. To combine the
information that each characteristic contains, construct a composite characteristics. To this end,
standardize in each month each characteristic to have a cross-sectional mean (standard deviation)
of zero (one) and combine them into a single characteristic Sit defined as:

\begin{equation}
S_{it} = \frac{BM_{it} - E_t[BM_{it}]}{\sigma_t (BM_{it})} + \frac{Mom_{it} - E_t[Mom_{it}]}{\sigma_t (Mom_{it})}
\end{equation}

where the Mean and Standard deviation are taken over all stocks in the cross-section of month
t. Now, sort the stocks on the composite characteristic and construct the long-short portfolio
using tercile portfolios on this charateristics .Backtest this long-short portfolio. Plot cumulated
returns and present annualized performance statistics for this long-short portfolio.

**Question 5** : Discuss how the performance of the strategy at the previous point compares to a mixed strategy
that simply invests 50% in the the value long-short portfolio and %50 in the momentum longshort portfolio

**Question 6** : Consider the long-short portfolios on Value, Momentum, the mixed charateristic S ans the equally
weighted portfolio. Run performance analysis of this strategies against FF5M model. Comment
on the alphas, the factor exposures and the R2 of the factor regressions.

**Question 7** : Is the performance analysis (α) driven mostly by one of the two legs (long ot short)? Discuss
the implications for trading on long-only versus long-short tercile portfolios.

**Question 8** : Discuss theoretically how to modify the construction of the long-short Value portfolio in order
to make it market neutral (i.e. uncorrelated with returns on the market portfolio) over a rolling
widow of 3 years.